<h1>Пользователем с именем <%= @user.full_name %> был оставлен отзыв на TestGuru!</h1>
<br>
<br>
<h2>Текст сообщения</h2>

<p>
  <%= @message %>
</p>

<p>
  Email пользователя: <%= mail_to @user.email %>
</p>