<% if @current_test_passage.completed? %>
  <% if @current_test_passage.rate_percentage >= 85 %>
    <h2 style="color: lawngreen">You passed the test</h2>
  <% else %>
    <h2 style="color: red">You failed the test</h2>
  <% end %>
<% end %>
