<% if @current_test_passage.completed? %>
  <% if @current_test_passage.rate_percentage >= 85 %>
    <h2 style="color: lawngreen"><%= t('.passed_test_message') %></h2>
  <% else %>
    <h2 style="color: red"><%=t('.failed_test_message') %></h2>
  <% end %>
<% end %>
