<nav class="navbar navbar-light bg-light">
  <%= link_to t('.test_guru_title'), admin_tests_path, class: "navbar-brand" %>
  <span>
  <%= t('.welcome_back_html', username: current_user.first_name) %> |
    <%= link_to t('.logout'), destroy_user_session_path, method: :delete %>
  </span>
</nav>
