<div>
  <p>
    Учебный проект в онлайн-школе <%= link_to('Thinknetica', 'http://thinknetica.com/', target: :blank ) %>
  </p>
  <p>
    Автор: Матвей Устинов<br>
    Описание проекта: Портал где создаются тесты с вопросами.<br>
    © <%= github_url('Thinknetica Test Guru', 'https://github.com/matlex/thinknetika_test_guru') %> <%= current_year %>
  </p>
</div>
