<tr>
  <td><%= question.body %></td>
  <td><%= link_to t('.link_to_show'), admin_question_path(question) %></td>
  <td><%= link_to t('.link_to_edit'), edit_admin_question_path(question) %></td>
  <td>
    <%= link_to t('.link_to_delete'),
                admin_question_path(question),
                method: :delete, data: { confirm: t('delete_question_confirm_text') }
    %>
  </td>
</tr>
