//Old. Can be removed after while if not used.

.flash {
  border: 2px solid;
  padding: 10px;
  border-radius: 5px;
}

.flash.alert {
  border-color: #730E15;
}

.flash.notice {
  border-color: chartreuse;
}
