<h1>List of all tests:</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Test title</th>
    <th>Level</th>
    <th>Category</th>
    <th>Count questions</th>
    <th>Actions</th>
  </tr>
  <%= render @tests %>
</table>
